
<!DOCTYPE html>
<HTML>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Mangroves</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min1.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min1.css')}}">

<!-- Main css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/myfile.css') }}">
<link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">


<style>


th, td {
  padding: 5px;
  color: #4c4c4c;
}
</style>

</head>

<BODY>

<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="index.html" class="navbar-brand">Result Analysis</a>
          </div>
  </div>
</div>

<div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div>
<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
<br><br>

<CENTER><TABLE style="background-color:white">



<tr>
<TH>Type</th>
<th>Image</th>
<th>Percentage</th>
</tr>
<tr>
<td>Before</td>
<td>
<img src="./static/images/before1.jpg?dummy=8484744" alt="HTML5 Icon" style="width:128px;height:128px;"></td>
<td><p style="color:#4c4c4c">
<u>{{d}}</u></p></td>
</tr>
<tr>
<td>After</td>
<br>
<td><img src="./static/images/after1.jpg?dummy=848476" alt="HTML5 Icon" style="width:128px;height:128px;"></td>
<td><p  style="color:#4c4c4c">
<u>{{e}}</u></p><td>
</tr>
<tr>
<td>
Change detection
</td>
<td>
<img src="./static/images/change.jpg?dummy=8484748" alt="HTML5 Icon" style="width:128px;height:128px;"></td>
<td><p  style="color:#4c4c4c">
<u>{{f}}</u></p></td>
</tr>
</TABLE>
<br>
</CENTER>
</div>

          </div>
     </div>
</section>
<br>
<br>
<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- SCRIPTS -->

<script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/particles.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/app.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.parallax.js')}}"></script>
<script src="{{ url_for('static', filename='js/smoothscroll.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>

</BODY>
</HTML>
